#clock-weather {
  display: flex;
  justify-content: space-between;
  border: 3px solid red;
}

.empty {
  border: 3px solid blue;
  width: 300px;
}

.weatherCity {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.weather {
  border: 3px solid brown;
  text-align: end;
}

.city {
  border: 3px solid teal;
  text-align: end;
}

.clock {
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 60px;
}

.time {
  border: 3px solid yellow;
  font-size: 200px;
  text-align: center;
  
}

.date {
  border: 3px solid orange;
  font-size: 35px;
  text-align: center;
}
