.login-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login-input {
  border: none;
  outline: none;
  width: 875px;
  height: 80px;
  color: tra;
  font-size: 50px;
  border-bottom: 5px solid white;
  background-color: transparent;
  text-align: center;
  transition: border-top 0.1s;
  text-shadow: 2px 2px 2px gray;
}

.hidden {
  display: none;
}
