.hidden {
  display: none;
}

body {
  margin: 50px;
  flex-direction: column;
  background-color: black;
}

.image {
  color: transparent; /* 글자색을 투명하게 처리 */
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 글자에 배경이미지를 넣기 */
  -webkit-background-clip: text;
  background-size: cover;
  font-weight: bold;
}
