body {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-size: fixed;
  color: white;
  background-repeat: no-repeat;
  /*
        width:100%;
        height:100%;
  */
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  margin: 0;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.login-empty {
  width: 30px;
  height: 30px;
}

.login-form {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-text {
  font-size: 50px;
}

.login-input {
  border: none;
  outline: none;
  width: 560px;
  height: 80px;
  color: white;
  font-size: 50px;
  border-bottom: 2px solid white;
  background-color: transparent;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.weatherCity {
  display: flex;
  flex-direction: column;
}

.center {
  height: 200x;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clock {
  margin: 0;
}

.time {
  font-size: 200px;
}

.greeting {
  font-size: 50px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  border: none;
  outline: none;
  width: 560px;
  height: 80px;
  font-size: 35px;
  border-bottom: 2px solid white;
  background-color: transparent;
  text-align: center;
  color: white;
}

.todo-list {
  border-radius: 10px;
  list-style: none;

  overflow: auto;
  height: 255px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.todo-box {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.todo-buttonBox > button {
  background-color: transparent;
  outline: none;
  border: none;
}

.todo-text {
  font-weight: bold;
  font-size: 30px;
}

.hidden {
  display: none;
}

.complete {
  font-style: oblique;
  text-decoration: line-through;
}
